---
layout: splash
author_profile: false
header:
  image: /assets/images/banner1.png
feature_row_top:
  - image_path: assets/images/buoyancy.webp
    alt: "My Buoyancy System for Godot Ocean Waves"
    title: "My Buoyancy System for Godot Ocean Waves"
    excerpt: "I built a buoyance system for Godot Ocean Waves.


    I implemented Archimedes' principle, which is a law of physics fundamental to fluid mechanics. Archimedes' principle states that the upward buoyant force that is exerted on a body immersed in a fluid, whether fully or partially, is equal to the weight of the fluid that the body displaces."
    url: "/godot/demo/tutorial/Bouyance/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row:
  - image_path: assets/images/dungeon.gif
    alt: "Dungeon Crawler Game Jam 2025"
    title: "Dungeon Crawler Game Jam 2025"
    excerpt: "I had so much fun developing my game jam entry for the annual Dungeon Crawler Game Jam.
    

    In one week I built an inventory system, a gear system, skills tree, spell bar, vendor system, a combat system and a loot system.


    In addition, I experimented with multiple lights and shadows.
    I also used my own A* search pathing algorithm instead of a navigation mesh."
    url: "/godot/gamejams/Dungeon-Crawler/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/mixamo.webp
    alt: "From Mixamo to Godot: An Easier Approach"
    title: "From Mixamo to Godot: An Easier Approach"
    excerpt: "I created a video tutorial that explores the integration of Mixamo animations into the Godot game engine, focusing on the specific challenges users face especially with custom 3D character models. I made this tutorial and it uses a simplified approach.


    I tried using other Mixamo to Godot tutorials with a custom rigged characters which resulted in poor results. I made this tutorial and it uses a simplified approach.
    This solution does not need Blender or any other tools other than Mixamo and Godot 4.3+."
    url: "/godot/demo/tutorial/Mixamo/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: assets/images/vat.png
    alt: "Godot Vertex Animation Textures Plugin"
    title: "Godot Vertex Animation Textures Plugin"
    excerpt: "I created a plugin that extends the **MultiMeshInstance3D** node to support instanced vertex animations using vertex texture data.


	My plugin is designed to simplify the process of animating meshes using VATs, providing a seamless integration with the Godot workflow."
    url: "/godot/tools%20and%20plugins/VAT_plugin/"
    btn_label: "Read More"
    btn_class: "btn--primary"

feature_row2:
  - image_path: assets/images/skel.jpg
    alt: "Skeletron 2084"
    title: "Skeletron 2084"
    excerpt: "I made a 3D remake of the 1982 classic arcade game: `Robotron 2084` using Godot for a recent retro style game jam. This game's goal was to test my vertex animation textures solution inside a real game."
    url: "/godot/gamejams/Skeletron/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/ocean.jpg
    alt: "Godot Ocean Waves"
    title: "Godot Ocean Waves"
    excerpt: "An open ocean rendering experiment in the Godot Engine utilizing the inverse Fourier transform of directional ocean-wave spectra for wave generation. A concise set of parameters is exposed, allowing for scriptable, real-time modification of wave properties to emulate a wide-variety of ocean-wave environments."
    url: "/godot/demo/Godot_Ocean/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/boat.png
    alt: "Godot Boat Waves"
    title: "Godot Boat Waves"
    excerpt: "Using compute shaders, I have made a basic speed boat demo showing a (Kelvin) wake pattern on a water shader.  This demo is based off of the Compute Texture demo from the official godot-demo-projects"
    url: "/godot/demo/Godot_Boat/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/jaina.jpg
    alt: "Little Jaina"
    title: "Little Jaina"
    excerpt: "This is my first game jam entry using the Godot game engine.


	The game jam was for Pirate Software – Game Jam 14, which had over 7800 participants, and 1400 game entries.


	The theme of the game jam was:


	**It’s Spreading**"
    url: "/godot/gamejams/Little-Jaina-Godot/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/grid.gif
    alt: "Godot GridMap for libGDX"
    title: "Godot GridMap for libGDX"
    excerpt: "I have created a solution that takes a 3D GridMap from Godot and uses it in my custom libGDX game engine. libGDX unfortunately does not come with a 3D Editor, more importantly, it does not have any 3D grid editors like libGDX has for 2D tile sets."
    url: "/godot/libgdx/tools%20and%20plugins/gridmaps/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/mesh.jpg
    alt: "libGDX MeshOptimizer Tool"
    title: "GLTF Mesh Optimizer Tool"
    excerpt: "I developed a tool that allows easy creation of LODs from your GLTF models with only a few clicks.


The tool allows you to save each LOD as a separate GLTF file.


Models are automatically optimized and LODs are generated on import."
    url: "/tools%20and%20plugins/MeshOpimizer/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/antz.gif
    alt: "All Posts"
    title: "All Posts"
    excerpt: 'See all **AntzGames** posts by clicking button below.'
    url: "/blog/"
    btn_label: "See All Posts"
    btn_class: "btn--primary"
---

{% include feature_row id="feature_row_top" type="left" %}

{% include feature_row %}

{% include feature_row id="feature_row2" %}

{% include feature_row id="feature_row3" %}

{% include feature_row id="feature_row4" type="center" %}