---
layout: splash
author_profile: false
header:
  image: /assets/images/banner1.png
feature_row:
  - image_path: assets/images/vat.png
    alt: "Godot Vertex Animation Textures Plugin"
    title: "Godot Vertex Animation Textures Plugin"
    excerpt: "I created a plugin that extends the **MultiMeshInstance3D** node to support instanced vertex animations using vertex texture data.
	
	
	My plugin is designed to simplify the process of animating meshes using VATs, providing a seamless integration with the Godot workflow."
    url: "/godot/tools%20and%20plugins/VAT_plugin/"
    btn_label: "Read More"
    btn_class: "btn--primary"	
  - image_path: /assets/images/settings.png
    alt: "Godot Universal Settings Plugin"
    title: "Godot Universal Settings Plugin"
    excerpt: "I created a versatile, renderer-aware settings screen for Godot 4.3 that seamlessly adapts across all renderers and HTML web builds. 
	
	
	My plugin simplifies user settings management by saving and reloading configurations for graphics, audio settings, and keybinds, ensuring a consistent experience across platforms."
    url: "/godot/tools%20and%20plugins/Settings_plugin/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/ocean.jpg
    alt: "Godot Ocean Waves"
    title: "Godot Ocean Waves"
    excerpt: "An open ocean rendering experiment in the Godot Engine utilizing the inverse Fourier transform of directional ocean-wave spectra for wave generation. A concise set of parameters is exposed, allowing for scriptable, real-time modification of wave properties to emulate a wide-variety of ocean-wave environments."
    url: "/godot/demo/Godot_Ocean/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: assets/images/skel.jpg
    alt: "Skeletron 2084"
    title: "Skeletron 2084"
    excerpt: "I made a 3D remake of the 1982 classic arcade game: `Robotron 2084` using Godot for a recent retro style game jam. This game's goal was to test my vertex animation textures solution inside a real game."
    url: "/godot/gamejams/Skeletron/"
    btn_label: "Read More"
    btn_class: "btn--primary"	
  - image_path: /assets/images/STM.jpg
    alt: "Smash the Mesh"
    title: "Smash the Mesh"
    excerpt: "Smash The Mesh (STM) is a Godot add-on that allows you to break a 3D mesh into multiple pieces and then apply physics to each fragment. It also offers the ability to save the results to disk (cache) and load them quickly, thereby avoiding the need for repetitive, often time-consuming computations."
    url: "/godot/tools%20and%20plugins/Godot_STM/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/boat.png
    alt: "Godot Boat Waves"
    title: "Godot Boat Waves"
    excerpt: "Using compute shaders, I have made a basic speed boat demo showing a (Kelvin) wake pattern on a water shader.  This demo is based off of the Compute Texture demo from the official godot-demo-projects"
    url: "/godot/demo/Godot_Boat/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: assets/images/jaina.jpg
    alt: "Little Jaina"
    title: "Little Jaina"
    excerpt: "This is my first game jam entry using the Godot game engine.
	
	
	The game jam was for Pirate Software – Game Jam 14, which had over 7800 participants, and 1400 game entries.
	
	
	The theme of the game jam was:
	
	
	**It’s Spreading**"
    url: "/godot/gamejams/Little-Jaina-Godot/"
    btn_label: "Read More"
    btn_class: "btn--primary"	
  - image_path: /assets/images/grid.gif
    alt: "Godot GridMap for libGDX"
    title: "Godot GridMap for libGDX"
    excerpt: "I have created a solution that takes a 3D GridMap from Godot and uses it in my custom libGDX game engine. libGDX unfortunately does not come with a 3D Editor, more importantly, it does not have any 3D grid editors like libGDX has for 2D tile sets."
    url: "/godot/libgdx/tools%20and%20plugins/gridmaps/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/mesh.png
    alt: "libGDX MeshOptimizer Tool"
    title: "libGDX MeshOptimizer Tool"
    excerpt: "I developed a tool to optimize your GLTF models for use in libGDX.  It uses the popular MeshOptimizer library.  Simplification, mesh optimization and model import/export are feature complete.
	
	
	This will give the libGDX 3D community the ability to have Level of Detail (LoD) rendering and also provide improved frame per second (FPS) on their 3D games."
    url: "/libgdx/tools%20and%20plugins/MeshOpimizer/"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: /assets/images/antz.gif
    alt: "All Posts"
    title: "All Posts"
    excerpt: 'See all **AntzGames** posts by clicking button below.'
    url: "/blog/"
    btn_label: "See All Posts"
    btn_class: "btn--primary"
---

{% include feature_row %}

{% include feature_row id="feature_row2" %}

{% include feature_row id="feature_row3" %}

{% include feature_row id="feature_row4" type="center" %}